body{
    background-color: rgb(34,34,34);
    color: white;
}
img{
    height: 250px;
    width: auto;
    border-radius: 2%;
}
.anclainicio{
    text-align: center;
    justify-content: center;
    color: white;
    display: flex;
}