body{
    background-color: rgb(34, 34, 34);
    color: white;
}
.datoscontact{
    font-weight: bold;
    text-decoration: underline;
}
.anclainicio{
    text-align: center;
    justify-content: center;
    color: white;
    display: flex;
}