body{
    background-color: rgb(34,34,34);
}
h1{
    text-align: center;
    color: white;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.item img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 6px;
}

.item p {
    margin-top: 10px;
    font-size: 14px;
}
p{
    color: white;
}
.anclainicio{
    text-align: center;
    justify-content: center;
    color: white;
    display: flex;
}